body {
	background-color: grey ;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	background-color: #24489D;
	border: 5px solid white;
	font-size: 36px;
	color : white;
	margin: 40px auto;
	padding: 40px;
}
div {
	max-width: 800px;
	border: 5px solid white;
	margin: auto ;
	padding: 50px 40px ;
	color : white;



}
h2 {
	border: 5px solid white;
	background-color: #8996B5;
	color: white;
	padding: 20px ;


}